.f {
  display: flex;
}
.f_sb {
  display: flex;
  justify-content: space-between;
}
.f_sb_c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f__c {
  display: flex;
  align-items: center;
}
.f_c {
  display: flex;
  justify-content: center;
}
.f_c_c {
  justify-content: center;
  display: flex;
  align-items: center;
}

.f_c_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.f_sb_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.f_col {
  display: flex;
  flex-direction: column;
}
.flex__end {
  display: flex;
  align-items: flex-end;
}
.f_wrap {
  display: flex;
  flex-wrap: wrap;
}
.f_sb_srap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.f_e_ {
  display: flex;
  justify-content: flex-end;
}