.min_box {
  margin: 15px;
}
.box_bottom {
  margin-bottom: 10px;
}
.wh100 {
  width: 100%;
  height: 100%;

}
.box_ss {
  width: 200px;
  margin-left: 15px;
}
.box_ss1 {
  width: 200px;
}
.block_box {
  @extend .block;
  width: 85%;
  margin: 20px auto;
}
.block {
  display: block;
}
.inB {
  display: inline-block;
}

